<AntDesign.Footer Class="layout-footer">
    <div class="footer-left">
        <Text>© 2025 - 2006 <a target="_blank" href="https://mayanshe.com">码研社</a>. All rights reserved.</Text>
    </div>
    <div class="footer-right">
        <Space Size="SpaceSize.Large">
            <SpaceItem>
                <a href="/about" class="footer-link">关于我们</a>
            </SpaceItem>
            <SpaceItem>
                <a href="https://github.com/renligou/renligou" target="_blank" class="footer-link">
                    <Icon Type="github" /> Repository
                </a>
            </SpaceItem>
            <SpaceItem>
                <a href="https://github.com/renligou/renligou/issues" target="_blank" class="footer-link">
                    <Icon Type="bug" /> Issues
                </a>
            </SpaceItem>
        </Space>
    </div>
</AntDesign.Footer>

@code {
    
}
